In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MaxAbsScaler

In [40]:
# Load in data
titanic_train = pd.read_csv('train.csv')
titanic_test = pd.read_csv('test.csv')
titanic_submission = pd.read_csv('submission.csv')
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
# Replace missing age values
titanic_train['Age'].fillna(value = round(titanic_train['Age'].mean()), inplace=True)

In [42]:
# Change any string values into integers 
titanic_train['Sex'] = titanic_train.Sex.map({"male": 0, "female": 1})

In [43]:
# Split data into target and featured variables
X = titanic_train.drop(columns = ['PassengerId','Name','Ticket','Survived', 'Cabin', 'Embarked'],axis=1)
Y = titanic_train['Survived']

In [44]:
# MinMaxScaler = MinMaxScaler()
# X_Min = MinMaxScaler.fit_transform(X)

# RobustScaler = RobustScaler()
# X_Robust = RobustScaler.fit_transform(X)

# MaxAbsScaler = MaxAbsScaler()
# X_Max = MaxAbsScaler.fit_transform(X)

In [45]:
# Create the KNN Model

KNN1 = KNeighborsClassifier(n_neighbors=2).fit(X,Y)
KNN2 = KNeighborsClassifier(n_neighbors=2).fit(X_Min,Y)
KNN3 = KNeighborsClassifier(n_neighbors=2).fit(X_Robust,Y)
KNN4 = KNeighborsClassifier(n_neighbors=2).fit(X_Max,Y)

# KNN1 = KNeighborsClassifier(n_neighbors=3).fit(X,Y)
# KNN2 = KNeighborsClassifier(n_neighbors=3).fit(X_Min,Y)
# KNN3 = KNeighborsClassifier(n_neighbors=3).fit(X_Robust,Y)
# KNN4 = KNeighborsClassifier(n_neighbors=3).fit(X_Max,Y)

# KNN1 = KNeighborsClassifier(n_neighbors=4).fit(X,Y)
# KNN2 = KNeighborsClassifier(n_neighbors=4).fit(X_Min,Y)
# KNN3 = KNeighborsClassifier(n_neighbors=4).fit(X_Robust,Y)
# KNN4 = KNeighborsClassifier(n_neighbors=4).fit(X_Max,Y)

# KNN1 = KNeighborsClassifier(n_neighbors=5).fit(X,Y)
# KNN2 = KNeighborsClassifier(n_neighbors=5).fit(X_Min,Y)
# KNN3 = KNeighborsClassifier(n_neighbors=5).fit(X_Robust,Y)
# KNN4 = KNeighborsClassifier(n_neighbors=5).fit(X_Max,Y)

In [46]:
print(round(KNN1.score(X,Y), 4))
print(round(KNN2.score(X_Min,Y), 4))
print(round(KNN3.score(X_Robust,Y), 4))
print(round(KNN4.score(X_Max,Y), 4))

0.8474
0.8911
0.8866
0.8911

In [47]:
titanic_test['Age'].fillna(value = round(titanic_test['Age'].mean()), inplace=True)
titanic_test['Fare'].fillna(value = titanic_test['Fare'].mean(), inplace=True)
titanic_test['Sex'] = titanic_test.Sex.map({"male": 0, "female": 1})
X_test = titanic_test.drop(columns = ['PassengerId','Name','Ticket', 'Cabin', 'Embarked'],axis=1)
Y_test = titanic_submission['Survived']

In [48]:
titanic_test.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,0.363636,30.216507,0.447368,0.392344,35.627188
std,120.810458,0.841838,0.481622,12.635016,0.896760,0.981429,55.840500
min,892.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,23.000000,0.000000,0.000000,7.895800
50%,1100.500000,3.000000,0.000000,30.000000,0.000000,0.000000,14.454200
75%,1204.750000,3.000000,1.000000,35.750000,1.000000,0.000000,31.500000
max,1309.000000,3.000000,1.000000,76.000000,8.000000,9.000000,512.329200

In [49]:
MinMaxScaler = MinMaxScaler()
X_Min = MinMaxScaler.fit_transform(X_test)

RobustScaler = RobustScaler()
X_Robust = RobustScaler.fit_transform(X_test)

MaxAbsScaler = MaxAbsScaler()
X_Max = MaxAbsScaler.fit_transform(X_test)

In [50]:
KNN1 = KNeighborsClassifier(n_neighbors=2).fit(X_test,Y_test)
KNN2 = KNeighborsClassifier(n_neighbors=2).fit(X_Min,Y_test)
KNN3 = KNeighborsClassifier(n_neighbors=2).fit(X_Robust,Y_test)
KNN4 = KNeighborsClassifier(n_neighbors=2).fit(X_Max,Y_test)

# KNN1 = KNeighborsClassifier(n_neighbors=3).fit(X_test,Y_test)
# KNN2 = KNeighborsClassifier(n_neighbors=3).fit(X_Min,Y_test)
# KNN3 = KNeighborsClassifier(n_neighbors=3).fit(X_Robust,Y_test)
# KNN4 = KNeighborsClassifier(n_neighbors=3).fit(X_Max,Y_test)

# KNN1 = KNeighborsClassifier(n_neighbors=4).fit(X_test,Y_test)
# KNN2 = KNeighborsClassifier(n_neighbors=4).fit(X_Min,Y_test)
# KNN3 = KNeighborsClassifier(n_neighbors=4).fit(X_Robust,Y_test)
# KNN4 = KNeighborsClassifier(n_neighbors=4).fit(X_Max,Y_test)

# KNN1 = KNeighborsClassifier(n_neighbors=5).fit(X_test,Y_test)
# KNN2 = KNeighborsClassifier(n_neighbors=5).fit(X_Min,Y_test)
# KNN3 = KNeighborsClassifier(n_neighbors=5).fit(X_Robust,Y_test)
# KNN4 = KNeighborsClassifier(n_neighbors=5).fit(X_Max,Y_test)

In [51]:
print(round(KNN1.score(X_test,Y_test), 4))
print(round(KNN2.score(X_Min,Y_test), 4))
print(round(KNN3.score(X_Robust,Y_test), 4))
print(round(KNN4.score(X_Max,Y_test), 4))

0.8565
0.9928
0.9761
0.9928