In [286]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MaxAbsScaler

In [287]:
# Load in data
titanic_train = pd.read_csv('train.csv')
titanic_test = pd.read_csv('test.csv')
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [288]:
# Replace missing age values
titanic_train['Age'].fillna(value = round(titanic_train['Age'].mean()), inplace=True)

In [289]:
# Change any string values into integers 
titanic_train['Sex'] = titanic_train.Sex.map({"male": 0, "female": 1})

In [290]:
# Split data into target and featured variables
X = titanic_train.drop(columns = ['PassengerId','Name','Ticket','Survived', 'Cabin', 'Embarked'],axis=1)
Y = titanic_train['Survived']

In [291]:
MinMaxScaler = MinMaxScaler()
X_Min = MinMaxScaler.fit_transform(X)

RobustScaler = RobustScaler()
X_Robust = RobustScaler.fit_transform(X)

MaxAbsScaler = MaxAbsScaler()
X_Max = MaxAbsScaler.fit_transform(X)

In [292]:
# Create the KNN Model

KNN1 = KNeighborsClassifier(n_neighbors=2).fit(X,Y)
KNN2 = KNeighborsClassifier(n_neighbors=2).fit(X_Min,Y)
KNN3 = KNeighborsClassifier(n_neighbors=2).fit(X_Robust,Y)
KNN4 = KNeighborsClassifier(n_neighbors=2).fit(X_Max,Y)

# KNN1 = KNeighborsClassifier(n_neighbors=3).fit(X,Y)
# KNN2 = KNeighborsClassifier(n_neighbors=3).fit(X_Min,Y)
# KNN3 = KNeighborsClassifier(n_neighbors=3).fit(X_Robust,Y)
# KNN4 = KNeighborsClassifier(n_neighbors=3).fit(X_Max,Y)

# KNN1 = KNeighborsClassifier(n_neighbors=4).fit(X,Y)
# KNN2 = KNeighborsClassifier(n_neighbors=4).fit(X_Min,Y)
# KNN3 = KNeighborsClassifier(n_neighbors=4).fit(X_Robust,Y)
# KNN4 = KNeighborsClassifier(n_neighbors=4).fit(X_Max,Y)

# KNN1 = KNeighborsClassifier(n_neighbors=5).fit(X,Y)
# KNN2 = KNeighborsClassifier(n_neighbors=5).fit(X_Min,Y)
# KNN3 = KNeighborsClassifier(n_neighbors=5).fit(X_Robust,Y)
# KNN4 = KNeighborsClassifier(n_neighbors=5).fit(X_Max,Y)

In [293]:
print(round(KNN1.score(X,Y), 4))
print(round(KNN2.score(X_Min,Y), 4))
print(round(KNN3.score(X_Robust,Y), 4))
print(round(KNN4.score(X_Max,Y), 4))

0.8474
0.8911
0.8866
0.8911